@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Poppins:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-button: 'Inter', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-sans {
  font-family: 'Poppins', sans-serif;
}

.font-button {
  font-family: 'Inter', sans-serif;
}

.arch-image {
  border-radius: 1000px 1000px 0 0;
}

.glass {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
